@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #1b1c1e;
  --white: #fdfdfd;
  --gray: #d3d3d3;
}

* {
  scroll-behavior: smooth;
  user-select: none;
}

.font-akira {
  font-family: "Akira Expanded";
}

.font-inter {
  font-family: "Inter";
}

.bg-noise-white {
  background-image: url(/src/assets/noise-white.png);
  background-size: contain;
}

.bg-noise-black {
  background-image: url(/src/assets/noise-black.png);
  background-size: auto;
}

.projects-img-odd {
  transform: perspective(800px) rotateY(20deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform 0.8s ease 0s;
}

.projects-img-even {
  transform: perspective(800px) rotateY(-20deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform 0.8s ease 0s;
}

.projects-img-odd:hover {
  transform: perspective(3000px) rotateY(5deg);
}

.projects-img-even:hover {
  transform: perspective(3000px) rotateY(5deg);
}
